html, body {
  font-family: georgia;
  font-size: 16px;
  margin: 0px 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #222; }
  html *, body * {
    margin: 0px 0px;
    transition: all 0.5s ease-in-out; }

h1, h2 {
  color: #222; }

p {
  margin: 0px 0px; }

.heading {
  width: 100%;
  color: #222;
  font-weight: bold;
  margin-top: 0px;
  padding-left: 10px;
  font-size: 144px;
  text-align: center; }

.main-content {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%; }

hr {
  border: none;
  border-top: dotted 3px #232323;
  margin: 0px 0px; }

#background {
  background-image: url('/images/bg.jpg');
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2; }

input {
  min-width: 100px; }

.task {
  position: relative;
  padding: 3px 10px;
  padding-bottom: 10px;
  width: calc(100% - 20px);
  margin: 1px 0px;
  float: left;
  display: inline-block;
  border-bottom: dotted 1px #ccc; }
  .task h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: solid 1px #ccc; }
  .task .labeled {
    padding: 2.5px 2.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70%;
    float: left; }
  .task .label {
    width: 40px;
    float: left;
    margin-top: 12.5px;
    display: inline-block; }
  .task.completed {
    background-image: url('/images/tick.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-y: 5px; }
    .task.completed .t-controls a.t-link-task {
      margin-left: 20px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.full-width {
  width: 100%;
  display: inline-block; }
  .full-width * {
    display: inline-block; }

.checkbox {
  background-image: none;
  border: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px; }

.t-controls {
  width: 100%;
  display: inline-block;
  vertical-align: middle; }
  .t-controls span, .t-controls a {
    margin-top: 1px;
    min-width: 10px;
    margin-right: 5px;
    margin-left: 5px;
    overflow: ellipses; }
  .t-controls .arrow-right {
    width: 10px;
    margin-right: 10px; }
  .t-controls textarea, .t-controls input {
    width: 300px;
    height: 30px;
    margin: 10px;
    outline: none;
    border: solid 1px #ccc;
    border-bottom-width: 2px;
    border-right-width: 2px;
    padding: 2.5px;
    color: #444;
    font-size: 16px;
    font-family: georgia; }
  .t-controls textarea {
    height: 100px; }

.t-link-task {
  font-size: 24px; }

button, .button {
  height: 40px;
  max-width: 120px;
  font-size: 16px;
  background-color: #fff;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 40px;
  border: solid 1px #ccc;
  font-family: georgia;
  outline: none; }
  button:hover, .button:hover {
    border-color: #222; }
  button:active, .button:active {
    background-color: #222;
    color: #ccc; }

a {
  text-decoration: underline;
  color: #222;
  text-align: center;
  font-weight: 700; }

.time {
  width: 180px; }

.parent-task {
  display: inline-block;
  width: 100%;
  background-color: #efefef; }


/*# sourceMappingURL=app.css.map*/