<div class='form'>
	<div class="full-width">
		<label>Name</label>{{input value=name class='labeled'}}
	</div>
	<div class="full-width">
		<label>Description</label>{{input value=description class='labeled'}}
	</div>
	<div class="t-controls">
		<button class='button tiny' {{action 'cancel' target='view'}}>Cancel</button>
		<button class='button tiny success' {{action 'edit' target='view'}}>Save</button>
	</div>
</div>